*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color : black;
    color:antiquewhite;
    font-family: "Fira Sans",sans-serif;

}
nav{
    color:white;
    width:100%;
    height:80px;
    display:flex;
    justify-content: space-between;
    padding:20px 5%;
    background-color:coral
}
nav .div-1{
    font-size:30px;
    font-weight:700;
    /*color:white;*/
    color:blanchedalmond;
}
nav ul{
    display:flex;
    list-style:none;
}
nav ul li{
    padding:8px;
    border-radius:10px;
    transition:0.2s ease-in;
}
nav ul li a{
    color:bisque;
    font-size:20px;
    font-weight:500;
    text-decoration:none;
    color:black;
}
nav ul li:hover{
    background-color:burlywood;
}
nav ul li a:hover{
    color:white;
}
nav .sideMenuButton{
    font-size:30px;
    font-weight:bolder;
    cursor:pointer;
    display:none;
}
@media screen and(max-width:600px){
    nav .sideMenuButton{
        display:flex;
    }
    nav .navbar{
        display:none;
    }
    .sideNavigationBar{
        display:block !important;
    }
}
.anch{
    text-decoration:underline;
    color:skyblue;
}
.sideNavigationBar{
    height: 100%;
    position:fixed;
    top:0;
    right:0%;
    background-color:orange;
    overflow-x:hidden;
    transition :0.3s ease-in;
    padding-top:60px;
    display: none;
}
.sideNavigationBar a{
    padding: 8px 8px 8px 40px;
    display:block;
    font-size:25px;
    font-weight:500;
    color :bisque;
    transition:0.3s;
    text-decoration:none;
}
.sideNavigationBar a button{
    padding:10px 20px;
    border-radius:10px;
    color:green;
    font-size:16px;
    border-style:none;
    font-weight:700;
}
.sideNavigationBar a:hover{
    color:white;
}
.sideNavigationBar .closeButton{
    position:absolute;
    top:10px;
    right:25px;
    font-size:20px;
    margin-left:50px;
}
.line{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:2% 5%;
}
.line .side1{
    padding-right:50px;
}
.side1 h1{
    font-size:60px;
    margin-bottom:10px;
    color:yellow;
}
.side1 button{
    width:200px;
    padding:12px 20px;
    border-radius:20px;
    border-style:none;
    color:black;
    font-size:17px;
    font-weight:600;
}
.side1 button a{
    width:200px;
    padding:12px 20px;
    border-radius:20px;
    border-style:none;
    color:black;
    font-size:17px;
    font-weight:600;
}
a{
    text-decoration:none;
    color:white;
}
@media screen and (max-width:90px){
    .side2 img{
        width:350px;
    }
    .side1 h1{
        font-size:40px;
    }
    .side1 p{
        font-size:17px;
    }
    .line{
        margin-top:80px;
    }
}

@media screen and (max-width:600px){
    .side1 h1{
        font-size:35px;
    }
    .line{
        flex-direction:column;
    }
    .line .side1{
        padding:30px;
    }
}
section .topic a{
    font-size:25px;
    font-weight:500;
    margin-bottom:10px;
    text-decoration:underline;
}
.about .boxes{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.about .boxe{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    border:white;
    
}
.about .boxes .box{
    margin:20px 20px;
    max-width:calc(100% / 3 - 50px);
    text-align:center;
    border-radius:12px;
    padding:30px 10px;
    box-shadow:0 5px 10px white;
    cursor:default;
}
.img12{
    height:350px;
    width:650px
}
.div-3{
    color:blanchedalmond;
}
.div-2 a{
    color:white;
    text-decoration: none;
}
main{
    border-color: white;
}
.access{
    text-align:center;
    text-decoration:underline;
    font-size:30px;
}
.login1{
    text-align:center;
}
.login1 .sop{
    text-decoration:underline;
}
.about .boxes .box1{
    margin:10px 20px;
    max-width:calc(100% / 3 - 50px);
    text-align:left;
    border-radius:12px;
    padding:30px 10px;
    box-shadow:0 5px 10px white;
    cursor:default;
}

/*contact*/
#foot{
    padding:20px;
}
.contact{
    padding:20px;
    display:flex;
    justify-content: space-between;
    margin:150px;
}
.contact .content{
    margin:0 auto;
    padding:30px 0;
}
.content .title{
    width:80%;
    font-weight:bolder;
    font-size:40px;
}
.title{
    margin: bottom 30px;

}
.col1{
    font-weight:bolder;
    font-size: larger;
    text-decoration:underline;
}
.input2{
    margin-top:10;
}
.label1{
    font-size :18px;
    margin-top:8ox;
    margin-bottom:8px;
    font-weight:bolder;
    text-decoration:underline;
}
.contactMenu{
    justify-content:space-evenly;
}
.contactMenu .input1 input{
    border-radius:13px;
    padding:6px;
}
.input2 input{
    border-color:blanchedalmond;
    width:400px;
}
.examp{
    text-decoration:none;
}
.button{
    margin-top:12px;
    margin-left:5px;
}
.button button{
    width:162px;
    height:35px;
    border-radius:12px;
    border-color:transparent;
}
.button button:hover{
    background-color:brown;
}
button{
    width:162px;
    height:35px;
    border-radius:12px;
    border-color:transparent;
}
button:hover{
    background-color:brown;
}
#flex1{
    display:flex;
}